body {
    background-image: linear-gradient(
        180deg,        
        #ADFF2F 5%, 
        #00FFFF 20%,  
        #008B8B 60%, 
        #000000 95%
        
    );
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

main{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

main > section img {
    height: 450px;
    margin: 15px 0;
    width: 300px;
}

main > section button {
    background-color: #008B8B;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 15px;
    padding: 9px 23px;
    text-transform: uppercase;
}

#detalhes-container{
    font-weight: bold;
    list-style-type: none;
    width: 90%;
    
}
    